* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background: linear-gradient(135deg, black, grey, darkgrey, black);
  background-repeat: no-repeat;
  background-size: 600%;
  object-fit: contain;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  & a {
    & img {
      transition: all 0.1s ease;
      &:hover {
        scale: 1.03;
      }
      height: 60px;
      width: auto;
    }
  }
}

header {
  height: 100%;
  width: 100%;
  & nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
  }
}
